Classroom Info
<p>
<%= @classroom.course_name %>
<%= @classroom.semester %>
</p>

We now want to call out the oldest student in the class:
<<<<<<< HEAD
=======

>>>>>>> a0baa5f4a50e193b0a9ee50d0c0bb70dd5afb5c8
<%= render 'students/student' %>
